nlp_data/**
sql/polis**
test/**
**.zip
**.gz
polis_data/**
_webapp/**
data/**
**.pyc
python/APIKeys.py
python/_scratch.py
python/_daemon.py
python/_cron.py
python/webapp/static/chartist-dist/chartist.js
python/webapp/static/chartist-dist/chartist.min.css
python/webapp/static/chartist-dist/chartist.min.js
python/webapp/static/chartist-dist/chartist.min.js.map
python/webapp/static/chartist-dist/LICENSE
python/webapp/static/chartist-dist/scss/*
python/webapp/static/css/foundation.css
python/webapp/static/css/app.css
python/webapp/static/css/foundation-flex.css
python/webapp/static/css/foundation.min.css
python/webapp/static/js/*
.DS_Store
